name: "Hook"

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version"
        required: false
        default: "0"
  repository_dispatch:
    types:
      - webhook
    inputs:
      version:
        description: "Version"
        required: false
        default: "0"

jobs:
  hook:
    name: "Hook"
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: "Debug event.json"
        continue-on-error: true
        run: cat "${GITHUB_EVENT_PATH}"

      - name: "Debug CTX github"
        continue-on-error: true
        env:
          GITHUB_CTX: ${{ toJSON(github) }}
        run: echo "$GITHUB_CTX"

      - name: "Debug Environment"
        continue-on-error: true
        run: env

      - name: "Debug"
        run: |
          cat "${GITHUB_EVENT_PATH}"
          echo inputs.version: "${{ inputs.version }}"
          echo github.event_name: "${{ github.event_name }}"
          echo github.event.client_payload: ${{ github.event.client_payload }}
          echo github.event.client_payload: ${{ toJSON(github.event.client_payload) }}
          echo -e github:\n"${{ toJSON(github.event) }}"
