name: "Pull"

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pull:
    name: "Pull"
    runs-on: ubuntu-latest
    timeout-minutes: 5

    permissions:
      pull-requests: write
      issues: write

    steps:
      - name: "Debug event.json"
        continue-on-error: true
        run: cat "${GITHUB_EVENT_PATH}"

      - name: "Debug CTX github"
        continue-on-error: true
        env:
          GITHUB_CTX: ${{ toJSON(github) }}
        run: echo "$GITHUB_CTX"

      - name: "Debug Environment"
        continue-on-error: true
        run: env

      - name: "Checkout Pull"
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: "Debug"
        continue-on-error: true
        run: |
          echo "::group::ls"
          ls -lAh .
          echo "::endgroup::"
          echo "::group::tree"
          tree .
          echo "::endgroup::"

      #- name: "NPM Outdated Check"
      #  continue-on-error: true
      #  uses: cssnr/npm-outdated-action@master

      #- name: "Actions Update"
      #  uses: cssnr/actions-update-action@master
      #  continue-on-error: true
      #  with:
      #    exclude: |
      #      actions/.*
      #      cssnr/.*
      #      docker/.*
      #      smashedr/.*

      - name: "Get Commit Action"
        id: commit
        uses: cssnr/get-commit-action@updates
        with:
          selector: "commit.message"

      - name: "Echo Output"
        env:
          COMMIT: ${{ steps.commit.outputs.commit }}
          RESULT: ${{ steps.commit.outputs.result }}
        run: |
          echo "sha: ${{ steps.commit.outputs.sha }}"
          echo "commit: ${COMMIT}"
          echo "result: ${RESULT}"
